/* Body Styles */
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 1.3;

  color: #898989;
  font-family: "Poppins", helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;

  box-sizing: border-box;
}

/* Responsive Sidebar Styles */
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}

/* Navigation Styles */
nav a {
  /* color: #b9c6ae; */
  /* font-weight: bold; */
  text-decoration: underline;
}

nav a:hover {
  color: #fff;
}


  /*  Hero Section */

#hero {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 120px;
}

#hero .div-img-bg {
  padding-bottom: 40px;
  border: 20px solid #b8a07e;
}

#hero .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#hero .about-descr .p-heading {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: left;
}

#hero .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}
/*  Card Section */
.section-title h2 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 50px;
    background: #ffffff;
    
}
h2 {
    color: #292929;
    font-weight: 600;
    background: #ffffff;
    
}

.paddsections {
    padding-top: 90px;
    padding-bottom: 90px !important;
    background: #ffffff;
  }

.card {
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
 height: 100%; 
 display: flex;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.separator {
margin-bottom: 40px;
}
/* About me */
.flexItem2 {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    width: 1000px;
    height: auto;
    color: #31343d;
    list-style: none;
    
  }

p.abt {
    padding-bottom: 40px;
    border: 20px solid #b8a07e;
    
    
  }

  /* Skills */
  .row col-lg-3 {
height: 50%;
  }

  /* footer */
  section ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
section a {
    color: #31343d;
    font-weight: bold;
    text-decoration: underline;
  }
  
section a:hover {
    color: green;
    box-shadow: 10px 10px #b8a07e;
  }